section{
  background-color: #0282F9;
  height: 150px;
}
 div {
  display: flex;
  align-items: center;
  color: white;
  img{
    width: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    
  }
}
 